$color-primary-0: #00cece;
$color-primary-1: #00cece;
$color-primary-2: #00EBEB;
$color-primary-3: #00cece;
$color-primary-4: #00cece;
$color-primary-5: #1C4B4B;
$color-primary-6: #1C4B4B;
$color-primary-7: #037E7E;

$white : #ffffff;
$black : #000000;
$bg-test: rgba(238, 238, 238, 0.829);
$black-hover: #0000008e;
$title-color: #000000d2;
$text-color: #000000ac;

$home-color-1: #00ceceda;
$home-color-2: #00ebebdb;