<div class="home-container-1">
<div class="home-img-container">
<img src="{{ asset('images/tom/5-torches.jpg') }}" alt="">
<img src="{{ asset('images/tom/5-sabres.jpg') }}" alt="">
<img src="{{ asset('images/tom/7-rings.jpg') }}" alt="">
<img src="{{ asset('images/tom/5-clubs.jpg') }}" alt="">

</div>
<div class="home-text">
<p>Thomas est un jongleur hors pair, qui travaille dans le monde entier. </p> 
<p>Cet artiste professionnel est spécialisé en nombre et en siteswap, c'est une animation idéale pour vos dîners d’affaires, vos repas d’anniversaire, de mariage, vos soirées privées et d’entreprises. Cette performance peut se réaliser sur scène ou de table en table lors d’un repas et également en déambulation parmi les invités lors d’un cocktail dînatoire.</p>

<p>Avec plus de 1000 prestations à son actif dans le monde entier, Chine, Thaïlande, Qatar, New-York, Grèce, Suisse et essentiellement sur la Côte d’Azur, il a aujourd'hui l'occasion de se produire dans les endroits les plus prestigieux de Monaco, allant de Cannes à saint Tropez. Comme par exemple, au côté de son altesse sérénissime Le Prince Albert II de Monaco. Son expérience est un gage de qualité et de réussite pour votre événement.</p>

<p>La jonglerie qu’il pratique est étonnante, dynamique et interactive : anneaux, diabolos, massues, et sabres sont des numéros incroyables et visuels.</p>

<p>Ces interventions ont pu être appréciées entre autre à la Colombe d’Or à Antibes Juan Les Pins, l’Open de Tennis de Nice, au Festival du Film de Cannes, à l’occasion du Grand Prix de Monaco, qui font partie des animations les plus appréciées de la Côte d’Azur.</p>
</div>
</div>