<div class="home-contact-text">
<p>A la recherche d’animations originales, inoubliables et ludiques pour distraire et épater vos invités lors d’évènements, faites appel à Thomas. Ce spécialiste de la manipulation d'objets offrira à vos convives un spectacle captivant, excitant et surtout riche en émotions. Que ce soit dans le cadre d’un événement professionnel ou une réception plus personnelle (mariage, anniversaire, etc.), faites confiance au cirque et à ses artistes comme Thomas, qui se porte garant d'un évènement inoubliable.</p>
<p>Thomas intervient régulièrement en tant que jongleur référent sur Nice, Cannes et Monaco, spécialiste des anniversaires enfants avec plus de 10 ans d’expériences. Vous pourrez l’apercevoir dans les différentes photos présentent sur le site et n’hésitez pas à en demander plus !</p>
</div>

{{ include('form/_contact.html.twig') }}