<h2 class="home-title-1">Contact</h2>
<h1 class="home-title-2">Suivez-moi sur les réseaux.</h1>
<p class="presta-text">N'hésitez pas à me contacter directement par téléphone ou par mail</p>

{{ include('form/_contact.html.twig') }}